// You can compile here: http://less2css.org/

body {
    font-family: "Noto Sans", serif;
    font-size: 16px;
    line-height: 1.6em;

    //background-image: url(../img/subtle_dots.png);
    background-repeat: repeat;
    //background-color:rgba(251,251,251,1);
}


.main {
    background-color:rgba(255,255,255,0.8);
    padding: 80px 40px 80px 40px;
    //border: 1px solid whitesmoke;
    border-top: 0px;
    border-bottom: 1px solid whitesmoke;
}

.navbar {
    background-color: rgba(255,255,255,1);
    margin-bottom: 0;

    border: 0px solid whitesmoke;
    //border-top: 2px solid black;
    border-radius: 0px;

//    background-image: url(../img/debut_light.png);
    background-repeat: repeat;

    .navbar-brand {
        padding-top: 30px;
        img {
            width: 80px;
            margin: 0;
        }
    }
}

.navbar-collapse {
    border-top: 0px;
}

.navbar-default .navbar-nav {
    > li > a {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: white;
        //border-right: 1px solid whitesmoke;

        &:hover {
            background-color: #E0E4CC;
        }
    }
    .active {
        a {
            background-color: #A7DBD8;
            color: white;
        }
    }
}

article {
    header {
        margin-bottom: 2em;
        text-align: center;
        h1 {
            margin-top: 0;
            margin-bottom: 0.3em;
            font-weight: bold;
            font-size: 55px;
        }

        .article-meta {
            border-top: 1px solid whitesmoke;
            padding-top: 30px;
            margin-left: 30%;
            margin-right: 30%;
            font-size: 14px;
            color: gray;
        }
    }
    p {
        margin-bottom: 1.5em;
    }
}

.headline-list {
    article {

        padding-bottom: 1.5em;

        h1 {
            font-family: Verdana;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 0.5em;

            a {
                color: #636262;
                text-decoration: none;

                &:hover {
                    color: #828282;
                }
            }
        }

        p {
            margin-bottom: 0.4em;
        }
    }

    .divider {
        border: 1px solid whitesmoke;

        margin-left: 30%;
        margin-right: 30%;
        margin-top: 3em;
        margin-bottom: 3em;

    }

    .read-more {
        margin-right: 15px;
        margin-top: 0.4em;
        background-color: #FA6900;

        a {
            color: white;
            text-decoration: none;
        }

    }
}



pre {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

img {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.credits {
    @credit-color: gray;

    font-size: 12px;
    color: @credit-color;
    margin-bottom: 100px;

    a {
        color: inherit;
        &:hover {
            color: darken(@credit-color, 20%);
            text-decoration: none;
        }
    }
}

footer div {
    height: 10px;
}



// http://stackoverflow.com/a/8825714
@footer-height: 10px;

html, body {
    height: 100%;
}

body {
    //padding-bottom: @footer-height;
}

.footer-flusher {
    min-height: 100%;
    position: relative;
}

footer {
    height: @footer-height;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;

    padding-right: 15px;
    padding-left:  15px;
}


///////////////////////////////////////


// http://www.colourlovers.com/palette/92095/Giant_Goldfish
.color-01 { background-color: #69D2E7; }
.color-02 { background-color: #A7DBD8; }
.color-03 { background-color: #E0E4CC; }
.color-04 { background-color: #F38630; }
.color-05 { background-color: #FA6900; }



.highlight {
    color: #839496;
    background-color: #002b36;

    .err {
        color: #dc322f;
        background-color: #DFF4FA;
    }
    .cp {
        color: #586e75 ;
        font-weight: bold;
    }
    .cs {
        color: #586e75;
        font-weight: bold;
        font-style: italic;
    }
    .gd {
        color: #839496;
        background-color: #fdd;
        .x {
            background-color: #faa;
        }
    }
    .ge {
        font-style: italic;
    }
    .gi {
        background-color: #dfd;
        .x {
            background-color: #afa;
        }
    }
    .go {
        color: #839496;
    }
    .gu {
        color: #d33682;
        font-weight: bold;
    }
    .gs {
        font-weight: bold;
    }
    .gr,
    .gt { color: #d33682; }
    .gh { color: #586e75; }
    .gp { color: #586e75; }
    .nb { color: #859900; }
    .ni { color: #d33682; }
    .nt { color: #268bd2; }
    .w  { color: #586e75; }
    .sr { color: #859900; }
    .ss { color: #2aa198; }
    .c, .cm, .c1 {
        color: #586e75;
        font-style: italic;
    }
    .k, .kc, .kd, .kp, .kr, .kt, .o, .ow {
        font-weight: bold;
    }
    .k  { color: #859900; }
    .kt { color: #b58900; }
    .bp { color: #93a1a1; }
    .nn { color: #93a1a1; }
    .nc {
        color: #b58900;
        font-weight: bold;
    }
    .m, .mf, .mh, .mi, .mo, .il {
        color: #2aa198;
    }
    .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
        color: #2aa198;
    }
    .na, .nv {
        color: #2aa198;
    }
    .no {
        color: #b58900;
    }
    .vc, .vg, .vi {
        color: #268bd2;
    }
    .ne, .nf {
        color: #dc322f;
        font-weight: bold;
    }
}

