---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>kappataumu.com</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css"        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/nouveau/css/main.less" rel="stylesheet/less" type="text/css">

    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,greek' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>

</head>
<body>

    <div class="footer-flusher">

    <div class="container">

        <div class="row">
            <nav class="navbar navbar-default col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" role="navigation">
                <div class="navbar-header"> <!-- Wraps brand and toggle -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/nouveau/img/logotype.svg" alt="kappataumu">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Posts</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </nav>
        </div> <!--/.row-->

        <div class="row">
            <div class="main col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">


{{content}}


            </div> <!--/.column-->
        </div> <!--/.row,.main-->

        <div class="row credits">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <span>Copyright &copy; 2013</span>
                <span class="pull-right">Colophon</span>
            </div>
        </div> <!--/.row,.credits-->
    </div> <!--/.container-->


        <footer>
            <div class="row">
                <div class="col-md-2 color-01"></div>
                <div class="col-md-2 color-02"></div>
                <div class="col-md-3 color-03"></div>
                <div class="col-md-2 color-04"></div>
                <div class="col-md-3 color-05"></div>
            </div>
        </footer>


    </div> <!--/.footer-flusher-->



</body>
</html>
