---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{page.title}} | kappataumu.com</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{page.description}}" />

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />

    <link href="/nouveau/css/main.css?v=2" rel="stylesheet">

    <!-- <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43374106-1', 'kappataumu.com');
        ga('send', 'pageview');
    </script> -->

    <script>
        document.addEventListener("DOMContentLoaded", function(e) {
          if (this.location.pathname == '/about.html') {
              document.querySelector('li > a[href="/about.html"]').parentNode.setAttribute("class", "active");
          }
        });
    </script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default col-sm-12" role="navigation">

                <header>
                    <input type="checkbox" id="navbar-toggle-cbox">
                    <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-top"></span>
                        <span class="icon-bar icon-bar-middle"></span>
                        <span class="icon-bar icon-bar-bottom"></span>
                    </label>
                    <a class="logotype" href="/"></a>

                    <div id="navbar" class="navbar-collapse navbar-right collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/about.html">About me</a></li>
                        </ul>
                    </div>
                </header>

            </nav>
        </div> <!--/.row-->

        <div class="row">
            <div class="col-sm-12">
                {{content}}

                <div class="credits">
                  <span>Copyright &copy; 2016</span>
                  <span class="pull-right"><span>Handcrafted by <a href="http://twitter.com/kappataumu">@kappataumu</a></span>
                </div>

            </div>
        </div>

    </div> <!--/.container-->


    <div class="container-fluid">
        <footer class="row">
            <div class="col-md-2 color-01"></div>
            <div class="col-md-3 color-02"></div>
            <div class="col-md-2 color-03"></div>
            <div class="col-md-3 color-04"></div>
            <div class="col-md-2 color-05"></div>
        </footer>
    </div>

</body>
</html>
